{{template "header.tmpl"}}

<h1 class="display-4">About</h1>
<p class="lead">GO Link Shortener is a simple web application allowing users to hide their lengthy links behind short ID's consisting of 8 alphanumeric characters.</p>
<p class="lead">The application was created using GO language, Gin framework and GORM library.</p>
<p class="lead">It was created as an exercise. Allowing to practice the process of development and deployment of GO web applications.</p>

{{template "footer.tmpl"}}