{{template "header.tmpl"}}

<h1 class="display-4">Contact me</h1>
<p class="h2">Michal Kowal</h1>
<p class="lead">GitHub: <a href="https://github.com/michalkowal66">michalkowal66<a/></p>
<a href="mailto:michal.kowal.66@gmail.com" target="_blank" class="btn btn-primary">Send me an e-mail</a>

{{template "footer.tmpl"}}