{{template "header.tmpl"}}

<h1 class="display-4">Contact</h1>
<p class="lead">Michał Kowal</p>
<p class="lead">GitHub: <a href="https://github.com/michalkowal66">michalkowal66<a/></p>
<a href="mailto:michal.kowal.66@gmail.com" target="_blank" class="btn btn-primary">Email Me</a>

{{template "footer.tmpl"}}