{{template "header.tmpl"}}

<h1 class="display-4">Make your links shorter</h1>
<p class="lead">Enter the link below and press the button to let the magic happen!</p>

<form method="post" class="input-group mb-3">
  <input type="text" name="rawURL" class="form-control" placeholder="Your long URL" aria-label="Long URL" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="submit" id="button-addon2">Shorten</button>
</form>

{{template "footer.tmpl"}}